*{
  margin: 0;
  box-sizing: border-box;
}
.userIcon{
  background-color: #a8a8a862;
  padding: 10px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.userIcon .filled-circle,
.userIcon .filled-circle-yellow {
  position: absolute;
  bottom: -2px;
  right: -2px;
}